@media (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    .corpo {
        display: grid;
        grid-template-columns: 768px;
        grid-template-rows: 50px 250px 100px 450px 340px 200px 80px;
        grid-template-areas: "cabecalho1" "cabecalho2" "trabalhos" "galeria" "mapa" "dados" "endereco";
        width: 768px;
        margin: auto;
    }
    .cabecalho1 {
        grid-area: cabecalho1;
        background-color: gray;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: center;
        font-size: 12pt;
        font-family: 'Open Sans', sans-serif;
        padding: 10px;
        color: white;
    }
    .numerocelular {
        color: white;
        text-decoration: none;
    }
    .iconecelular {
        width: 25px;
        height: 25px;
    }
    .cabecalho2 {
        grid-area: cabecalho2;
        /*background-image: url("fundocabecalho2.png");*/
        background-image: url("fundocabecalho2.png");
        background-position: center;
        position: relative;
    }
    .cabecalho2 h1 {
        color: white;
        text-shadow: 0.1em 0.1em black;
        font-family: 'Open Sans', sans-serif;
        margin: 10px;
        font-size: 36pt;
    }
    .cabecalho2 h3 {
        color: white;
        font-family: 'Open Sans', sans-serif;
        margin: 10px;
    }
    /**************** INÍCIO DO MENU ********************/
    #check {
        display: none;
    }
    #icone {
        cursor: pointer;
        padding: 15px;
        position: absolute;
        z-index: 1;
    }
    .barra {
        background-color: white;
        height: 270px;
        width: 300px;
        position: absolute;
        top: 180px;
        transition: all .2s linear;
        left: -300px;
        z-index: 1;
    }
    nav {
        width: 100%;
        position: absolute;
        top: 10px;
    }
    nav a {
        text-decoration: none;
    }
    .link {
        background-color: #494949;
        padding: 20px;
        font-family: arial;
        font-size: 15pt;
        transition: all .2s linear;
        color: #f4f4f4;
        border-bottom: 2px solid #222;
        opacity: 0;
        margin-top: 200px;
    }
    .link:hover {
        background-color: #8B4513;
    }
    #check:checked~.barra {
        transform: translateX(300px);
    }
    #check:checked~.barra nav a .link {
        opacity: 1;
        margin-top: 0;
        transition-delay: .2s;
    }
    /**************** FIM DO MENU ********************/
    .msgmeio {
        grid-area: msgmeio;
        font-family: 'Open Sans', sans-serif;
        margin: auto;
        padding: 30px;
    }
    .trabalhos {
        grid-area: trabalhos;
        display: grid;
        background-image: url('fundo.jpg');
    }
    .trabalhos h1 {
        color: white;
        text-shadow: 0.1em 0.1em black;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 30pt;
        justify-self: center;
        align-self: center;
    }
    /*------------------------------------*\
    MATERIAL PHOTO GALLERY
\*------------------------------------*/
    .galeria {
        grid-area: galeria;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        overflow: hidden;
    }
    .foto {
        width: 23%;
        vertical-align: middle;
        margin: 5px 5px;
        transition: all 2s, box-shadow 0.5s, transform 1s;
    }
    .foto:hover {
        grid-area: galeria;
        box-shadow: 2px 2px 6px;
        transform: scale(1.02);
    }
    .foto:focus {
        width: 47%;
        transform: none;
    }
    .mapa {
        grid-area: mapa;
        background-color: gray;
        font-size: 12pt;
        font-family: 'Open Sans', sans-serif;
        color: white;
        text-align: center;
    }
    .dados {
        grid-area: dados;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 4fr;
        grid-template-areas: "figempresa empresa fighorario horario";
        padding: 10px;
    }
    .figempresa {
        grid-area: figempresa;
        justify-self: end;
        align-self: center;
    }
    .figempresapng {
        width: 50px;
        height: 50px;
    }
    .empresa {
        grid-area: empresa;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        padding-top: 10px;
        align-self: initial;
    }
    .fighorario {
        grid-area: fighorario;
        justify-self: end;
        align-self: center;
    }
    .fighorariopng {
        width: 50px;
        height: 50px;
    }
    .horario {
        grid-area: horario;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        padding-top: 10px;
        align-self: initial;
    }
    .endereco {
        grid-area: endereco;
        display: grid;
        background-color: gray;
    }
    .endereco p {
        font-size: 16pt;
        font-family: 'Open Sans', sans-serif;
        color: white;
        justify-self: center;
        align-self: center;
    }
}