@media (max-width: 380px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    .corpo {
        display: grid;
        grid-template-columns: 380px;
        grid-template-rows: 50px 250px 100px 1550px 340px 400px 80px;
        grid-template-areas: "cabecalho1" "cabecalho2" "trabalhos" "galeria" "mapa" "dados" "endereco";
        width: 380px;
        margin: auto;
    }
    .cabecalho1 {
        grid-area: cabecalho1;
        background-color: gray;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-size: 12pt;
        font-family: 'Open Sans', sans-serif;
        padding: 5px;
        color: white;
    }
    .numerocelular {
        color: white;
        text-decoration: none;
    }
    .iconecelular {
        width: 15px;
        height: 15px;
    }
    .cabecalho2 {
        grid-area: cabecalho2;
        background-image: url("fundocabecalho2.png");
        background-position: center;
        position: relative;
    }
    .cabecalho2 h1 {
        color: white;
        text-shadow: 0.1em 0.1em black;
        font-family: 'Open Sans', sans-serif;
        margin: 10px;
        font-size: 24pt;
    }
    .cabecalho2 h3 {
        color: white;
        font-family: 'Open Sans', sans-serif;
        margin: 10px;
    }
    /**************** INÍCIO DO MENU ********************/
    #check {
        display: none;
    }
    #icone {
        cursor: pointer;
        padding: 15px;
        position: absolute;
        z-index: 1;
    }
    .barra {
        background-color: white;
        height: 270px;
        width: 300px;
        position: absolute;
        top: 180px;
        transition: all .2s linear;
        left: -300px;
        z-index: 1;
    }
    nav {
        width: 100%;
        position: absolute;
        top: 10px;
    }
    nav a {
        text-decoration: none;
    }
    .link {
        background-color: #494949;
        padding: 20px;
        font-family: arial;
        font-size: 15pt;
        transition: all .2s linear;
        color: #f4f4f4;
        border-bottom: 2px solid #222;
        opacity: 0;
        margin-top: 200px;
    }
    .link:hover {
        background-color: #8B4513;
    }
    #check:checked~.barra {
        transform: translateX(300px);
    }
    #check:checked~.barra nav a .link {
        opacity: 1;
        margin-top: 0;
        transition-delay: .2s;
    }
    /**************** FIM DO MENU ********************/
    .msgmeio {
        grid-area: msgmeio;
        font-family: 'Open Sans', sans-serif;
        margin: auto;
        padding: 20px;
    }
    .trabalhos {
        grid-area: trabalhos;
        display: grid;
        background-image: url('fundo.jpg');
    }
    .trabalhos h1 {
        color: white;
        text-shadow: 0.1em 0.1em black;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 22pt;
        justify-self: center;
        align-self: center;
    }
    /*------------------------------------*\
    MATERIAL PHOTO GALLERY
\*------------------------------------*/
    .galeria {
        grid-area: galeria;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        overflow: hidden;
    }
    .foto {
        width: 70%;
        vertical-align: middle;
        margin: 5px 5px;
        margin-left: 20px;
        transition: all 2s, box-shadow 0.5s, transform 1s;
    }
    .foto:hover {
        grid-area: galeria;
        box-shadow: 2px 2px 6px;
        transform: scale(1.02);
    }
    .foto:focus {
        width: 95%;
        transform: none;
    }
    /*-------------------------*/
    .mapa {
        grid-area: mapa;
        background-color: gray;
        font-size: 10pt;
        font-family: 'Open Sans', sans-serif;
        color: white;
        text-align: center;
        margin-top: 20px;
        width: 380px;
    }
    .dados {
        grid-area: dados;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 200px 200px;
        grid-template-areas: "figempresa empresa" "fighorario horario";
        padding: 20px;
    }
    .figempresa {
        grid-area: figempresa;
        justify-self: end;
        align-self: center;
    }
    .figempresapng {
        width: 70px;
        height: 70px;
    }
    .empresa {
        grid-area: empresa;
        font-family: 'Open Sans', sans-serif;
        justify-self: left;
        align-self: center;
        margin-left: 25px;
    }
    .fighorario {
        grid-area: fighorario;
        justify-self: end;
        align-self: center;
    }
    .fighorariopng {
        width: 70px;
        height: 70px;
    }
    .horario {
        grid-area: horario;
        font-family: 'Open Sans', sans-serif;
        justify-self: left;
        align-self: center;
        margin-left: 25px;
    }
    .endereco {
        grid-area: endereco;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        background-color: gray;
        padding: 20px;
    }
    .endereco p {
        font-size: 12pt;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }
}